<ActionBar
  title=" nodemyadmin"
  android.icon="res://icon" android.iconVisibility="always"></ActionBar>

<StackLayout>
  <Image src="~/assets/images/nodemyadmin_logo.png"></Image>
</StackLayout>

<StackLayout>
  <Label class="h2 text-center" text="Sign in to Nodemyadmin"></Label>
  <TextField
    hint="Username"
    ></TextField>
  <TextField
    hint="Password"
    secure="true"></TextField>
  <Button text="Sign In" (tap)="onSignIn()" class="btn btn-primary btn-active"></Button>

</StackLayout>
