<ActionBar title="Sign In to nodemyadmin"></ActionBar>

<StackLayout #logoContainer>
  <Image
    src = "~/assets/logo/nma_logo_hdpi.png"
    stretch = "none"
    class = "nma-logo" horizontalAlignment="center"></Image>
</StackLayout>

<StackLayout #signInContainer class="signin-container">
  <Label text="Username: "></Label>
  <TextField
    returnKeyType="next"
    ></TextField>

  <Label text="Password: "></Label>
  <TextField
    returnKeyType="done"
    (returnPress)="onSignIn()"
    secure="true"></TextField>

  <Button text="Sign In" (tap)="onSignIn()" class="btn btn-primary btn-active"></Button>
</StackLayout>
